*{
    margin: 0;
    padding: 0;
};
html, body
{
    height: 100%;
    width: 100%;
    background-color: rgb(101, 96, 90);
}
.div1
{
    background-color: rgb(246, 246, 223);
    height: 100%;
    /* margin: 10px; */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}
.mydiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 20%;
    background-color: blue;
}
.thirddiv{
    height: 90px;
    width: 20%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}