* {
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: bisque;
    justify-content: center;
    align-items: center;
}

.centered_div {
    display: flex;
    background-color: rgb(146, 146, 57);
    width: 20%;
    height: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

